---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_182Bq2FvLN3VTDgcCP5wViBX&email=jsmith%40gmail.com&plan=0001
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8InQvYSMDLNaNF",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1461122235,
          "currency": "usd",
          "default_source": "card_182Bq2FvLN3VTDgcBfmAk10u",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "jsmith@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_182Bq2FvLN3VTDgcBfmAk10u",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8InQvYSMDLNaNF",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "sEwzRtht8iK2udxn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8InQvYSMDLNaNF/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8InQyyP6PXfUeo",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1461727035,
                "current_period_start": 1461122235,
                "customer": "cus_8InQvYSMDLNaNF",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "0001",
                  "object": "plan",
                  "amount": 999,
                  "created": 1460558269,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base",
                  "statement_descriptor": "MyFlix Base Plan",
                  "trial_period_days": 7
                },
                "quantity": 1,
                "start": 1461122235,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1461727035,
                "trial_start": 1461122235
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8InQvYSMDLNaNF/subscriptions"
          }
        }
  recorded_at: Wed, 20 Apr 2016 03:17:15 GMT
recorded_with: VCR 3.0.1
