---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=1&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1800WIFvLN3VTDgcsvIiwHMy",
          "object": "token",
          "card": {
            "id": "card_1800WIFvLN3VTDgcyxC16kWZ",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2017,
            "fingerprint": "sEwzRtht8iK2udxn",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "108.84.29.154",
          "created": 1460602070,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 14 Apr 2016 02:47:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1800WIFvLN3VTDgcsvIiwHMy&email=hector%40braunheaney.com&plan=0001
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8GXbPWhW53MQ8t",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1460602070,
          "currency": "usd",
          "default_source": "card_1800WIFvLN3VTDgcyxC16kWZ",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "hector@braunheaney.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1800WIFvLN3VTDgcyxC16kWZ",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8GXbPWhW53MQ8t",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "sEwzRtht8iK2udxn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8GXbPWhW53MQ8t/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8GXbcSf6UM9cqW",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1461206870,
                "current_period_start": 1460602070,
                "customer": "cus_8GXbPWhW53MQ8t",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "0001",
                  "object": "plan",
                  "amount": 999,
                  "created": 1460558269,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base",
                  "statement_descriptor": "MyFlix Base Plan",
                  "trial_period_days": 7
                },
                "quantity": 1,
                "start": 1460602070,
                "status": "trialing",
                "tax_percent": null,
                "trial_end": 1461206870,
                "trial_start": 1460602070
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8GXbPWhW53MQ8t/subscriptions"
          }
        }
  recorded_at: Thu, 14 Apr 2016 02:47:50 GMT
recorded_with: VCR 3.0.1
