---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1855LzFvLN3VTDgcVXS5J9d5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1855LzFvLN3VTDgcVXS5J9d5",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1461812291,
          "data": {
            "object": {
              "id": "ch_1855LzFvLN3VTDgcy8fYuU52",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_1855LzFvLN3VTDgcuPyE2vOn",
              "captured": true,
              "created": 1461812291,
              "currency": "usd",
              "customer": "cus_8LmvPxgHFtMN9I",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_1855LzFvLN3VTDgc8FBk46Op",
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1855LzFvLN3VTDgcy8fYuU52/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_1855LwFvLN3VTDgc9D9sU0D5",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8LmvPxgHFtMN9I",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "sEwzRtht8iK2udxn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "MyFlix Base Plan 2",
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8LmvxfqIEL2pwN",
          "type": "charge.succeeded"
        }
  recorded_at: Thu, 28 Apr 2016 04:35:54 GMT
recorded_with: VCR 3.0.1
