---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Subscription+fee+for+joesmith%40gmail.com&source=tok_17bjyiFvLN3VTDgcWTlKrq4U
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17bjyjFvLN3VTDgcRzcGQlj6"
          }
        }
  recorded_at: Sun, 07 Feb 2016 04:16:54 GMT
recorded_with: VCR 3.0.1
