---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Subscription+fee+for+jsmith%40gmail.com&source=tok_17dnqHFvLN3VTDgcTaSc1WW6
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17dnqIFvLN3VTDgctgftumHE",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17dnqIFvLN3VTDgczGREHv4w",
          "captured": true,
          "created": 1455310122,
          "currency": "usd",
          "customer": null,
          "description": "Subscription fee for jsmith@gmail.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17dnqIFvLN3VTDgctgftumHE/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17dnqHFvLN3VTDgc33b3rxw8",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2017,
            "fingerprint": "sEwzRtht8iK2udxn",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 12 Feb 2016 20:48:42 GMT
recorded_with: VCR 3.0.1
