---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=1&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_186PDrFvLN3VTDgc6B8kdHzT",
          "object": "token",
          "card": {
            "id": "card_186PDrFvLN3VTDgcYtmXpbP8",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2017,
            "fingerprint": "sEwzRtht8iK2udxn",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "108.84.29.154",
          "created": 1462126995,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 01 May 2016 18:23:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_186PDrFvLN3VTDgc6B8kdHzT&email=mercedes%40weberfay.org&plan=0002
    headers:
      Authorization:
      - Bearer sk_test_0vdTk4grYlkcId7ty2LaDrpO
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8N9WyyKBlExERx",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1462126996,
          "currency": "usd",
          "default_source": "card_186PDrFvLN3VTDgcYtmXpbP8",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mercedes@weberfay.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_186PDrFvLN3VTDgcYtmXpbP8",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8N9WyyKBlExERx",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "sEwzRtht8iK2udxn",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8N9WyyKBlExERx/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8N9Wsm6B0qLw6y",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1464805396,
                "current_period_start": 1462126996,
                "customer": "cus_8N9WyyKBlExERx",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "0002",
                  "object": "plan",
                  "amount": 999,
                  "created": 1461811437,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base_two",
                  "statement_descriptor": "MyFlix Base Plan 2",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1462126996,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8N9WyyKBlExERx/subscriptions"
          }
        }
  recorded_at: Sun, 01 May 2016 18:23:16 GMT
recorded_with: VCR 3.0.1
