!!! 5
%html(lang='en-US')
  %body 
    %h1 Reset Your Password
    %p Hello #{@user.full_name}, please use this link to reset your password:
    = link_to "Reset My Password", password_reset_path(@user.token)