!!! 5
%html
  %body
    %h2 #{@invitation.inviter.full_name} Thinks You'll Love Myflix!
    %p Hello, #{@invitation.recipient_name} join Myflix today and watch our videos!
    %p= link_to "Accept this invitation", register_with_token_url(@invitation.token)
