!!! 5
%html
  %body
    %h2 #{@invitation.inviter.full_name} Thinks You'll Love Myflix!
    %p Hello, #{@invitation.recipient_name} join Myflix today and watch our videos!
    %p click this link to join now
